<!DOCTYPE html>
<html lang="en, ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="body">
        <div class="header">
            <h1 >Приложение для подготовки к задачам ОГЭ и ЕГЭ по теме решение логических задач с использованием кругов Эйлера.</h1>
        </div>
        <div class="content">
            <h2 > Чтобы скачать приложение, нажмите на кнопку :</h2>
        </div>
        <div class="button_block">
            <a href="./circles.zip" class="button">Cкачать</a>
        </div>
    </div>
</body>
</html>